@keyframes spin {
    0% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(360deg);
    } 
}

@keyframes rock {
    0% {
      transform: rotate(0deg);
    } 
    25% {
      transform: rotate(4deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-4deg);
    } 
    100% {
      transform: rotate(0deg);
    } 
}

@keyframes expand {
  0% {

  }
  100% {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

@keyframes go-up {
  0% {
    bottom: 0;
    transform: rotate(0deg);
  }
  70% {
    bottom: -10vh;
    transform: rotate(180deg);
  }
  100% {
    bottom: 100vh;
    transform: rotate(360deg);
  }
}