@keyframes spin {
    0% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(360deg);
    } 
}

@keyframes rock {
    0% {
      transform: rotate(0deg);
    } 
    25% {
      transform: rotate(4deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-4deg);
    } 
    100% {
      transform: rotate(0deg);
    } 
}