@keyframes spin {
    0% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(360deg);
    } 
}

@keyframes rock {
    0% {
      transform: rotate(0deg);
    } 
    25% {
      transform: rotate(4deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-4deg);
    } 
    100% {
      transform: rotate(0deg);
    } 
}

@keyframes expand {
  0% {

  }
  100% {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

@keyframes go-right {
  0% {
    left: 0;
  }
  70% {
    left: -10vw;
    border-radius: 0%;
    width: 90%;
    height: 90%;
  }
  100% {
    left: 100vw;
    border-radius: 0%;
    width: 50%;
    height: 50%;
  }
}