@import 'partials';
@import 'animations';

.Box {
  @extend %wrapper;
  transition: all 0.5s ease;

  > div {
    @extend %inner;
    border-radius: 0%;
    transform: rotate(0deg);
    transition: all 0.25s linear;    
  }

  > div.selected { 
    animation-name: spin;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.25, 0.25, 0.25, 0.25);
    border-radius: 48%;
  }

  > div.shake {
    animation-name: rock;
    animation-duration: 0.1s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
  }

  > div.fade {
    opacity: 0;

    &:hover {
      opacity: 0;
    }
  }

  > div.zoom-up {
    position: absolute;
    animation-name: go-up;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  > div.hidden {
    background-color: #444444 !important;
  }

  > div.burnout {
    background-color: #ffffff !important;
    transition: all 0.5s ease;
    transform: scale(1.1);
  }
}

