@import 'partials';

.Main {
  @extend %screen;
}

.MainButton {
  @extend %inner;
  @extend %button;
  background: #ffffff;
}

.MainButtonWrapper {
  @extend %wrapper;
  right: 3%;
  bottom: 3%;
  height: 12%;
  width: 12%
}
